{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ title }}</h3>
            </div>
            <div class="panel-body">

                <!-- Input form -->
{#                <form method="post" novalidate>#}
{#                    {% csrf_token %}#}
{##}
{#                    <!-- Gets database data and generates input boxes -->#}
{#                    {% for field in form %}#}
{#                        <div class="form-group">#}
{#                            <label>{{ field.label }}</label>#}
{#                            {{ field }}#}
{#                            <span class="errors">{{ field.errors.0 }}</span>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <button type="submit" class="btn btn-primary">Reset</button>#}
{##}
{#                </form>#}

                <form id="form-staff-reset">

                    <!-- Gets database data and generates input boxes -->
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span class="errors">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <button id="staff-reset" type="button" class="btn btn-primary">Reset</button>

                </form>

            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">

        {# Binds events using JQuery #}
        $(function () {
            btnStaffReset();
        })

        function btnStaffReset() {
            $("#staff-reset").click(function () {
                let url = {{ staffid }} + "/staff-reset/";

                $.ajax({
                    url: url,
                    type: "post",
                    data: $("#form-staff-reset").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if(res.status){
							alert("Your password was reset.");
						}
						else{
							$.each(res.error, function(k,v){
								console.log(res.error);
								$("#id_"+k).next().text(v[0]);
							})
						}
                    }
                })
            })
        }
    </script>
{% endblock %}

